In [1]:
import pandas as pd

In [2]:
churn = pd.read_excel("Churn List.xlsx")
purchase = pd.read_excel("Purchasedata.xlsx")

In [3]:
churn.sample(5)

,customer_dim_sk,billingaccountouid,MYT First PurchaseDatetime,First Date Purchase,CustomerID,gender,identificationtype,Age,ACTIVATION DATE,TERMINATION DATE,...,Geo Country,Port Out Telco,Port In Telco,New or Existing Customer,First Line Activation,Race,New or Referral,refferalcode,Speedmart Status,ADA Status
65984,805082.0,131329526,NaN,NaN,voixp2633,FEMALE,IDENTITY_CARD,42,2020-05-06,2020-08-04,...,Malaysia,NaN,NaN,NEW,2020-05-06,malay,New,NaN,NO,YES
68550,921838.0,200516651,NaN,NaN,zzrmz7020,FEMALE,IDENTITY_CARD,24,2020-12-24,2020-12-24,...,NaN,NaN,NaN,EXISTING,2020-12-21,others,New,NaN,NO,YES
10102,800471.0,129802340,NaN,NaN,iqvhl2536,FEMALE,IDENTITY_CARD,35,2020-04-21,2020-12-24,...,Malaysia,CELCOM,CELCOM,NEW,2020-04-21,malay,Referral,nwjat1458,NO,NO
41266,776498.0,123237351,NaN,NaN,vqgsm9670,MALE,IDENTITY_CARD,21,2020-03-14,2020-08-26,...,Malaysia,NaN,NaN,NEW,2020-03-14,malay,New,NaN,NO,YES
26332,771390.0,121118720,NaN,NaN,tolhh5706,FEMALE,IDENTITY_CARD,29,2020-02-20,2020-08-14,...,Malaysia,NaN,NaN,NEW,2020-02-20,malay,New,NaN,NO,NO

In [4]:
purchase.sample(5)

,billingaccountouid,TERMINATION DATE,customer_dim_sk,Product Combination,Month of Purchase,Price (RM),Speedmart Status,ADA Status
21135,102406262,2020-12-04,125868.0,TYDATASP24H1GBCOVID19 TYDATASP24H1GBCOVID19 TY...,2020-10-01,0.0,NO,NO
190127,132131735,2020-08-14,811569.0,OYSMS50,2020-05-01,3.0,NO,YES
33198,93196431,2020-07-08,472148.0,OYDATA2GB OYYOUTUBE20GB,2020-01-01,22.0,NO,NO
63756,78967561,2020-11-26,521942.0,OYVOICE2000,2020-08-01,12.0,NO,NO
57202,17579634,2020-07-08,511393.0,OYVOICE100 TYDATA3GB,2020-06-01,22.0,NO,NO

In [5]:
data = pd.merge(churn, purchase, how= 'outer')

In [6]:
data.columns

Index(['customer_dim_sk', 'billingaccountouid', 'MYT First PurchaseDatetime',
       'First Date Purchase', 'CustomerID', 'gender', 'identificationtype',
       'Age', 'ACTIVATION DATE', 'TERMINATION DATE', 'NETWORK STATUS',
       'LANGUAGE', 'DEVICE TYPE', 'LOS in Month', 'Productserialnumber',
       'Data Usage', 'Voice Usage', 'SMS Usage', 'Geo City', 'Geo Region',
       'Geo Country', 'Port Out Telco', 'Port In Telco',
       'New or Existing Customer', 'First Line Activation', 'Race',
       'New or Referral', 'refferalcode', 'Speedmart Status', 'ADA Status',
       'Product Combination', 'Month of Purchase', 'Price (RM)'],
      dtype='object')

In [7]:
duplicates = data.duplicated()

In [8]:
data=data.drop_duplicates()

In [9]:
duplicates.sum()

0

In [10]:
data.head()

,customer_dim_sk,billingaccountouid,MYT First PurchaseDatetime,First Date Purchase,CustomerID,gender,identificationtype,Age,ACTIVATION DATE,TERMINATION DATE,...,New or Existing Customer,First Line Activation,Race,New or Referral,refferalcode,Speedmart Status,ADA Status,Product Combination,Month of Purchase,Price (RM)
0,784140.0,178477060,NaN,NaN,cdyda4626,FEMALE,IDENTITY_CARD,23.0,2020-10-20,2020-12-01,...,EXISTING,2020-04-04,malay,Port In,NaN,NO,NO,OYDATA20GB OYINSTAGRAM20GB OYVOICE50 OYWHATSAP...,2020-11-01,42.0
1,784140.0,178477060,NaN,NaN,cdyda4626,FEMALE,IDENTITY_CARD,23.0,2020-10-20,2020-12-01,...,EXISTING,2020-04-04,malay,Port In,NaN,NO,NO,OYDATA20GB OYINSTAGRAM20GB OYVOICE50 TYDATASP2...,2020-10-01,30.0
2,479760.0,73122914,NaN,NaN,ljfic8156,MALE,IDENTITY_CARD,27.0,2019-07-11,2021-02-02,...,NEW,2019-07-11,malay,Port In,NaN,NO,NO,OYBOOST20GB OYBOOST20GB OYDATA20GB OYPUBG20GB ...,2020-10-01,68.0
3,479760.0,73122914,NaN,NaN,ljfic8156,MALE,IDENTITY_CARD,27.0,2019-07-11,2021-02-02,...,NEW,2019-07-11,malay,Port In,NaN,NO,NO,OYBOOST20GB OYDATA20GB OYPUBG20GB OYVOICE50,2020-04-01,25.0
4,479760.0,73122914,NaN,NaN,ljfic8156,MALE,IDENTITY_CARD,27.0,2019-07-11,2021-02-02,...,NEW,2019-07-11,malay,Port In,NaN,NO,NO,OYBOOST20GB OYDATA20GB OYPUBG20GB OYVOICE50,2020-05-01,25.0

In [11]:
print('Total missing values data from the Table',data.isnull().sum())

Total missing values data from the Table customer_dim_sk                  168
billingaccountouid                 0
MYT First PurchaseDatetime    243255
First Date Purchase           243255
CustomerID                        30
gender                            30
identificationtype                30
Age                               30
ACTIVATION DATE                   30
TERMINATION DATE                   0
NETWORK STATUS                    30
LANGUAGE                          30
DEVICE TYPE                       59
LOS in Month                      30
Productserialnumber               33
Data Usage                     10921
Voice Usage                    10921
SMS Usage                      10921
Geo City                        5924
Geo Region                      5924
Geo Country                     5924
Port Out Telco                170824
Port In Telco                 173225
New or Existing Customer          30
First Line Activation             30
Race                              30
New or Referral                   30
refferalcode                  200216
Speedmart Status                   0
ADA Status                         0
Product Combination               95
Month of Purchase                 95
Price (RM)                        95
dtype: int64

In [12]:
data = data.drop('First Date Purchase',axis=1)

In [13]:
data.head()

,customer_dim_sk,billingaccountouid,MYT First PurchaseDatetime,CustomerID,gender,identificationtype,Age,ACTIVATION DATE,TERMINATION DATE,NETWORK STATUS,...,New or Existing Customer,First Line Activation,Race,New or Referral,refferalcode,Speedmart Status,ADA Status,Product Combination,Month of Purchase,Price (RM)
0,784140.0,178477060,NaN,cdyda4626,FEMALE,IDENTITY_CARD,23.0,2020-10-20,2020-12-01,TERMINATED,...,EXISTING,2020-04-04,malay,Port In,NaN,NO,NO,OYDATA20GB OYINSTAGRAM20GB OYVOICE50 OYWHATSAP...,2020-11-01,42.0
1,784140.0,178477060,NaN,cdyda4626,FEMALE,IDENTITY_CARD,23.0,2020-10-20,2020-12-01,TERMINATED,...,EXISTING,2020-04-04,malay,Port In,NaN,NO,NO,OYDATA20GB OYINSTAGRAM20GB OYVOICE50 TYDATASP2...,2020-10-01,30.0
2,479760.0,73122914,NaN,ljfic8156,MALE,IDENTITY_CARD,27.0,2019-07-11,2021-02-02,TERMINATED,...,NEW,2019-07-11,malay,Port In,NaN,NO,NO,OYBOOST20GB OYBOOST20GB OYDATA20GB OYPUBG20GB ...,2020-10-01,68.0
3,479760.0,73122914,NaN,ljfic8156,MALE,IDENTITY_CARD,27.0,2019-07-11,2021-02-02,TERMINATED,...,NEW,2019-07-11,malay,Port In,NaN,NO,NO,OYBOOST20GB OYDATA20GB OYPUBG20GB OYVOICE50,2020-04-01,25.0
4,479760.0,73122914,NaN,ljfic8156,MALE,IDENTITY_CARD,27.0,2019-07-11,2021-02-02,TERMINATED,...,NEW,2019-07-11,malay,Port In,NaN,NO,NO,OYBOOST20GB OYDATA20GB OYPUBG20GB OYVOICE50,2020-05-01,25.0

In [15]:
data = data.drop('MYT First PurchaseDatetime',axis=1)

In [16]:
data.head()

,customer_dim_sk,billingaccountouid,CustomerID,gender,identificationtype,Age,ACTIVATION DATE,TERMINATION DATE,NETWORK STATUS,LANGUAGE,...,New or Existing Customer,First Line Activation,Race,New or Referral,refferalcode,Speedmart Status,ADA Status,Product Combination,Month of Purchase,Price (RM)
0,784140.0,178477060,cdyda4626,FEMALE,IDENTITY_CARD,23.0,2020-10-20,2020-12-01,TERMINATED,en,...,EXISTING,2020-04-04,malay,Port In,NaN,NO,NO,OYDATA20GB OYINSTAGRAM20GB OYVOICE50 OYWHATSAP...,2020-11-01,42.0
1,784140.0,178477060,cdyda4626,FEMALE,IDENTITY_CARD,23.0,2020-10-20,2020-12-01,TERMINATED,en,...,EXISTING,2020-04-04,malay,Port In,NaN,NO,NO,OYDATA20GB OYINSTAGRAM20GB OYVOICE50 TYDATASP2...,2020-10-01,30.0
2,479760.0,73122914,ljfic8156,MALE,IDENTITY_CARD,27.0,2019-07-11,2021-02-02,TERMINATED,en,...,NEW,2019-07-11,malay,Port In,NaN,NO,NO,OYBOOST20GB OYBOOST20GB OYDATA20GB OYPUBG20GB ...,2020-10-01,68.0
3,479760.0,73122914,ljfic8156,MALE,IDENTITY_CARD,27.0,2019-07-11,2021-02-02,TERMINATED,en,...,NEW,2019-07-11,malay,Port In,NaN,NO,NO,OYBOOST20GB OYDATA20GB OYPUBG20GB OYVOICE50,2020-04-01,25.0
4,479760.0,73122914,ljfic8156,MALE,IDENTITY_CARD,27.0,2019-07-11,2021-02-02,TERMINATED,en,...,NEW,2019-07-11,malay,Port In,NaN,NO,NO,OYBOOST20GB OYDATA20GB OYPUBG20GB OYVOICE50,2020-05-01,25.0

In [17]:
print('Total missing values data from the Table',data.isnull().sum())

Total missing values data from the Table customer_dim_sk                168
billingaccountouid               0
CustomerID                      30
gender                          30
identificationtype              30
Age                             30
ACTIVATION DATE                 30
TERMINATION DATE                 0
NETWORK STATUS                  30
LANGUAGE                        30
DEVICE TYPE                     59
LOS in Month                    30
Productserialnumber             33
Data Usage                   10921
Voice Usage                  10921
SMS Usage                    10921
Geo City                      5924
Geo Region                    5924
Geo Country                   5924
Port Out Telco              170824
Port In Telco               173225
New or Existing Customer        30
First Line Activation           30
Race                            30
New or Referral                 30
refferalcode                200216
Speedmart Status                 0
ADA Status                       0
Product Combination             95
Month of Purchase               95
Price (RM)                      95
dtype: int64

In [18]:
data.to_csv('Final_submission_data.csv',index=False)